*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}

header{
    background-color: var(--Dark-blue);
    text-align: center;

    .attribution{
        display: inline;
        color: whitesmoke; 
        justify-content: space-between;

        p{
            display: inline;
            justify-content: space-between;

            a{
                color: rgb(227, 203, 250);
                font-weight: 900;
            }

            img{
                width: 4%;
                height: 4%;
                filter: invert(100%);
                padding: 10px;
            }
        }

        p.second{
            padding: 0 60px;

            a{
                text-decoration: none;
            }
        }
    }
}

main{
    padding-bottom: 21px;
}

.container{
    @include font;
    margin: 30px auto;
    width: 375px;
    height: 100%;
    padding: 0;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px  rgb(158, 155, 155);

    .banner{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        img{
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    .summary{
        text-align: center;
        padding: 0px 40px;
        padding-top: 40px;
       
        h1{
            font-weight: 900;
            font-size: 2em;
        }

        h3{
            font-weight: 500;
            font-size: 1em;
            color: rgba(100, 89, 89, 0.8);
            padding-top: 10px;
        }

        .options{
            background-color: var(--Very-pale-blue);
            display: flex;
            align-items: center;
            vertical-align: middle;
            margin-top: 20px;
            border-radius: 10px;

            img{
                margin: 0 20px;
            }

            p{
                margin-top: 10px;
                font-weight: 700;

                span{
                    font-weight: 500;
                    color: rgba(100, 89, 89, 0.8);
                }
            }

            button{
                margin-left: 16%;
                border: none;
                text-decoration: underline;
                background-color: var(--Very-pale-blue);
                padding-right: 10px;
            }
        }

        .buttonPay{
            margin-top: 30px;
            @include font;
            font-size: 1em;

            button{
                padding: 2px 40px;
            }
        }

        .buttonCancel{
            margin-top: 30px;
            @include font;
            font-size: 1em;
           

            button{
                padding: 2px 40px;
                border: none;
                background-color: white;
                font-size: 0.85em;
                color: rgba(100, 89, 89, 0.8);
                margin-bottom: 30px;
            }
        }
    }

}

.modal-container{
    width: 600px;
    z-index: 999;
    background-color: white;
    box-shadow: 0.1px 0.1px 1px black;
    margin: 0 auto;
    left: 29%;
    top: 30%;
    position: absolute;
    text-align: center;
    display: none;

    .btnClose{
        float: right;
        margin-top: -15px;
        margin-right: -13px;
        
        input[type=button]{
            border: 1px solid black;
            border-radius: 50%;
            padding: 10px;
            background-color: var(--Bright-blue);
            color: white;
        }
    }

    .plan{
        border-bottom: 1px solid rgba(100, 89, 89, 0.8);
        padding: 12px 0;
    

        .options{
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 2fr;
            align-items: center;
            vertical-align: middle;
            margin-top: 20px;

            img{
                margin: 0 20px;
                width: 70%;
            }

            p{
                margin-top: 10px;
                font-weight: 700;

                span{
                    font-weight: 500;
                    color: rgba(100, 89, 89, 0.8);
                }
            }

            button{
                margin-left: 16%;
                border: none;
                text-decoration: underline;
                background-color: white;
                justify-self: end;
                padding-right: 10px;
                margin-right: 30px;
            }
        }
    }
}



