@import url(bootstrap.min.css);
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header {
  background-color: var(--Dark-blue);
  text-align: center;
}

header .attribution {
  display: inline;
  color: whitesmoke;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .attribution p {
  display: inline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .attribution p a {
  color: #e3cbfa;
  font-weight: 900;
}

header .attribution p img {
  width: 4%;
  height: 4%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding: 10px;
}

header .attribution p.second {
  padding: 0 60px;
}

header .attribution p.second a {
  text-decoration: none;
}

main {
  padding-bottom: 21px;
}

.container {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  margin: 30px auto;
  width: 375px;
  height: 100%;
  padding: 0;
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px 1px #9e9b9b;
          box-shadow: 0px 0px 1px 1px #9e9b9b;
}

.container .banner {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container .banner img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container .summary {
  text-align: center;
  padding: 0px 40px;
  padding-top: 40px;
}

.container .summary h1 {
  font-weight: 900;
  font-size: 2em;
}

.container .summary h3 {
  font-weight: 500;
  font-size: 1em;
  color: rgba(100, 89, 89, 0.8);
  padding-top: 10px;
}

.container .summary .options {
  background-color: var(--Very-pale-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 10px;
}

.container .summary .options img {
  margin: 0 20px;
}

.container .summary .options p {
  margin-top: 10px;
  font-weight: 700;
}

.container .summary .options p span {
  font-weight: 500;
  color: rgba(100, 89, 89, 0.8);
}

.container .summary .options button {
  margin-left: 16%;
  border: none;
  text-decoration: underline;
  background-color: var(--Very-pale-blue);
  padding-right: 10px;
}

.container .summary .buttonPay {
  margin-top: 30px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-size: 1em;
}

.container .summary .buttonPay button {
  padding: 2px 40px;
}

.container .summary .buttonCancel {
  margin-top: 30px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-size: 1em;
}

.container .summary .buttonCancel button {
  padding: 2px 40px;
  border: none;
  background-color: white;
  font-size: 0.85em;
  color: rgba(100, 89, 89, 0.8);
  margin-bottom: 30px;
}

.modal-container {
  width: 600px;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0.1px 0.1px 1px black;
          box-shadow: 0.1px 0.1px 1px black;
  margin: 0 auto;
  left: 29%;
  top: 30%;
  position: absolute;
  text-align: center;
}

.modal-container .btnClose {
  float: right;
  margin-top: -15px;
  margin-right: -13px;
}

.modal-container .btnClose input[type=button] {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--Bright-blue);
  color: white;
}

.modal-container .plan {
  border-bottom: 1px solid rgba(100, 89, 89, 0.8);
  padding: 12px 0;
}

.modal-container .plan .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 2fr;
      grid-template-columns: 0.5fr 0.5fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-top: 20px;
}

.modal-container .plan .options img {
  margin: 0 20px;
  width: 70%;
}

.modal-container .plan .options p {
  margin-top: 10px;
  font-weight: 700;
}

.modal-container .plan .options p span {
  font-weight: 500;
  color: rgba(100, 89, 89, 0.8);
}

.modal-container .plan .options button {
  margin-left: 16%;
  border: none;
  text-decoration: underline;
  background-color: white;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 10px;
  margin-right: 30px;
}
/*# sourceMappingURL=main.css.map */